/* Geral */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #424242;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
}

button {
 border: none;
 border-radius: 15px;
 padding: 1rem;
 cursor: pointer;
 background-color: #888888;
 color: #000;
 font-size: 1rem;
 transition: .5s;
}

button:hover {
  color: #fff;
  background-color: #000;
}

#relogio-btn.ativo, #cronometro-btn.ativo {
  color: #fff;
  background-color: #000;
  cursor: default;
}

#relogio.hide, #cronometro.hide, #menu-cronometro.hide, #continuar.hide, #iniciar.hide {
  display: none;
}

/* Container */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container-tempo {
  background-color: #888888;
  padding: 1.5rem 4rem;
  border-radius: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#container-tempo p {
  color: #000;
  font-size: 6rem;
}

/* Menu */

#menu {
  display: flex;
  justify-content: space-around;
  width: 250px;
  background-color: #313131;
  padding: .7rem 1.5rem;
  border-radius: 20px;
}

/* Relógio */

#relogio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}

#area-tempo {
  background-color: #000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

#relogio #area-tempo {
  width: 105px;
}

#area-tempo span {
  font-size: 5rem;
}

#area-tempo p {
  color: #fff;
  font-size: 1.5rem;
}

/* Cronômetro */

#cronometro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}

#menu-cronometro {
  display: flex;
  justify-content: space-around;
  width: 350px;
  background-color: #313131;
  padding: .7rem 1.5rem;
  border-radius: 20px;
}